.ff-accordion__button {
    width: 100%;
    /*padding: 15px;*/
    padding: 15px 0;
    font-size: 16px;
    text-align: left;
    background: #eee;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ff-accordion__button:hover {
    background: #ddd;
}

.ff-accordion__content {
    height: 0;
    overflow: hidden;
    border: 1px solid #ddd;
    border-top: none;
    transition: height 0.35s ease;
}

.ff-accordion__content-inner {
    padding: 15px 0;
}

.ff-accordion__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    line-height: 1;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.ff-accordion__button.is-open .ff-accordion__icon {
    transform: rotate(180deg);
}

.tester-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.ff-u-mb-0 {
	margin-bottom: 0;
}

.ff-accordion__item {
  border-bottom: 1px solid #CBCBC5;
}

.ff-accordion__item:hover {
  border-bottom: 1px solid #111110;
}

.ff-accordion__content-col-layout-inner {
  padding: 0.75rem 0;
  border-top: 1px solid #CBCBC5;
  border-bottom: 1px solid #CBCBC5;
  margin-bottom: 3rem; /* 48px */
}

.ff-testimonial {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px */
}

.ff-accordion__button,
.ff-accordion__button:hover {
	background-color: #f0f0eb !important;
}

.ff-accordion__content {
  border: none !important;
}

.ff-accordion__item:hover {
  border-bottom: 1px solid #111110;
}

.ff-testimonial__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ff-testimonial .ff-image {
  aspect-ratio: 3 / 4 !important;
}

.tester-col .ff-row {
  margin-bottom: 0;
}